<table class='table'>
  <tr><%= image_tag user.get_profile_image ('100x100') %></tr>
  <tr>
	  <th>名前</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>自己紹介文</th>
	  <th><%= user.introduction %></th>
  </tr>
  <% if user == current_user %>
    <tr>
	    <th>メールアドレス</th>
	    <th><%= user.email %></th>
    </tr>
    <tr>
	    <th>郵便番号</th>
	    <th><%= user.postcode %></th>
    </tr>
    <tr>
      <th>住所</th>
      <th><%= user.join_address %></th>
    </tr>
  <% end %>
</table>
　
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>